<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpine.js Learning</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.11/dist/cdn.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="bg-gray-100 p-6">
    <!-- Dropdown 1:51:00 -->
    <div x-data="{open: false}">
        <button 
            class="py-2 px-6 bg-purple-600 hover:bg-opacity-95 text-white rounded-md shadow
            inline-flex items-center" 
            @click="open = !open"
        >Toggle
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                class="size-5 ml-2 transition-all"
                :class="{ 'rotate-90': open }"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>

        </button>

        <ul 
            x-show="open" 
            @click.outside="open = false" 
            x-transition

            class="bg-white w-[160px] shadow-md py-1"
        >
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Open</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Edit</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Delete</a>
            </li>
        </ul>
    </div>

    <!-- Modal -->

    <!-- Tabs -->

    <!-- Carousel -->

    <!-- Accordion -->

    <!-- Notification -->

    <!-- Popover -->
</body>
</html>