<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpine.js Learning</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.11/dist/cdn.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="bg-gray-100 p-6">
    <!-- Dropdown  -->
    <div x-data="{open: false}">
        <button 
            class="py-2 px-6 bg-purple-600 hover:bg-purple-400 text-white rounded-md shadow
            inline-flex items-center" 
            @click="open = !open"
        >Toggle
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                class="size-5 ml-2 transition-all"
                :class="{ 'rotate-90': open }"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>

        </button>

        <ul 
            x-show="open" 
            @click.outside="open = false" 
            x-transition

            class="bg-white w-[160px] shadow-md py-1"
        >
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Open</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Edit</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block" href="#">Delete</a>
            </li>
        </ul>
    </div>

    <!-- Modal -->

    <div 
        x-data="{
            open: false,
            accept() {
                console.log('accepted')
            }
    }">
        <button
            class="py-2 px-6 bg-purple-600 hover:bg-purple-400 text-white rounded-md shadow
            inline-flex items-center"
            @click="open = !open"
        >Toggle Modal
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                class="size-5 ml-2 transition-all"
                :class="{ 'rotate-90': open }"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </button>

        <template x-teleport="body">
            <!-- Backdrop -->
            <div x-show="open" 
                class="fixed flex justify-center items-center left-0 top-0 bottom-0 right-0 z-10 bg-black/30"
            >
                <!-- Dialog -->
                <div @click.outside="open = false" 
                    class="w-1/2 bg-white rounded-lg"
                    x-show="open"
                    x-transition
                >
                    <!-- Modal title -->
                    <div class="py-2 px-4 text-lg font-semibold bg-gray-100 rounded-t-lg
                            flex items-center justify-between" 
                    >
                        <h2>Modal Title </h2>
                        <button @click="open = false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                                class="size-6 hover:cursor-pointer"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </button>
                        

                    </div>
                    <!--  <Modal body-->
                    <div class="p-4 ">
                        Modal Content 
                    </div>
                    <!-- Modal footer -->
                    <div class="py-2 px-4 text-lg flex justify-end font-semibold bg-gray-100 rounded-b-lg">
                        <button
                            class="ml-1 py-1 px-3 bg-emerald-600 hover:bg-emerald-500 text-white rounded-md shadow
                            inline-flex items-center"
                            @click="accept"
                        >
                            Accept
                        </button>
                        <button
                            class="ml-1 py-1 px-3 bg-gray-400 hover:bg-gray-300 text-gray-900 rounded-md shadow
                            inline-flex items-center"
                            @click="open = false"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <!-- Tabs -->
    
    <div x-data="{
        tabs: ['Home', 'Users', 'Settings', 'Orders'],
        activeTab: 'Home'
    }">
        <div class="flex">
            <template x-for="tab in tabs">
                <a href="#" 
                    x-text="tab" class="py-1 px-3 border border-gray-100"
                    :class="{'bg-gray-100 text-purple-600 border-purple-300': activeTab === tab, 'bg-white': activeTab !== tab}"
                    @click="activeTab = tab"
                ></a>
            </template>
        </div>
        <div class="py-2 px-3 bg-white border border-gray-200">
            <!-- Home -->
            <div x-show="activeTab === 'Home'" x-transition:enter.500ms>
                Home
            </div>
            <!-- Users -->
            <div x-show="activeTab === 'Users'" x-transition:enter.500ms>
                Users
            </div>
            <!-- Settings -->
            <div x-show="activeTab === 'Settings'" x-transition:enter.500ms>
                Settings
            </div>
            <!-- Orders -->
            <div x-show="activeTab === 'Orders'" x-transition:enter.500ms>
                Orders
            </div>
        </div>
    </div>

    <!-- Carousel -->

    <div x-data="{
        images: ['img/1.jpg', 'img/2.jpg', 'img/3.jpg'],
        activeImage: null,
        prev() {
            let index = this.images.indexOf(this.activeImage)
            if (index == 0) index = this.images.length 
            this.activeImage = this.images[index - 1]
        },
        next() {
            let index = this.images.indexOf(this.activeImage)
            if (index == this.images.length - 1) index = -1
            this.activeImage = this.images[index + 1]
        },
        init() {
            this.activeImage = this.images.length > 0 ? this.images[0] : null
        }
    }">
        <div class="relative flex items-center justify-center">
            <template x-for="image in images">
                <div
                    x-show="activeImage === image" 
                    class="aspect-w-3 aspect-h-2"
                >
                    <img 
                        x-show="activeImage === image" 
                        :src="image" alt=""
                        x-transition:enter 
                        class="object-cover"
                    >
                </div>
                
            </template>
            
            <a href="" @click.prevent="prev" class="absolute left-0 top-1/2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </a>
            <a href="#" @click.prevent="next" class="absolute right-0 top-1/2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
        </div>
        
        
        <div class="flex">
            <template x-for="image in images">
                <a 
                    @click="activeImage = image"
                    class="cursor-pointer w-[100px] border border-gray-300 hover:border-purple-500 flex items-center justify-center"
                    :class="{'border-indigo-600': activeImage === image }"
                ><img :src="image" alt="" class="object-cover"></a>
                <a 
                    @click="activeImage = image"
                    class="cursor-pointer w-[100px] border border-gray-300 hover:border-purple-500 flex items-center justify-center"
                    :class="{'border-indigo-600': activeImage === image }"
                ><img :src="image" alt="" class="object-cover"></a>
                <a 
                    @click="activeImage = image"
                    class="cursor-pointer w-[100px] border border-gray-300 hover:border-purple-500 flex items-center justify-center"
                    :class="{'border-indigo-600': activeImage === image }"
                ><img :src="image" alt="" class="object-cover"></a>
            </template>
            
        </div>
    </div>
    
    <!-- Accordion -->

    <div x-data="{
        items: [
            {title: 'Item 1', body: 'Body 1'},
            {title: 'Item 2', body: 'Body 2'},
            {title: 'Item 3', body: 'Body 3'},
            {title: 'Item 4', body: 'Body 4'},
        ], 
        activeItem: null 
    }"
        class="m-3"
    >
        <template x-for="item in items">
            <div>
                <div  
                    class="py-1 px-2 bg-gray-50 border hover:text-blue-400 font-semibold
                    flex justify-between items-center"
                    @click="activeItem = activeItem == null ? item : null"
                >
                    <span x-text="item.title"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        class="size-5 ml-2 transition-all"
                        :class="{ 'rotate-90': activeItem === item }"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </div>
                <div x-show="activeItem === item" 
                    x-html="item.body" 
                    class="p-2 bg-white border"
                    x-transition
                ></div>
            </div>
        </template>
    </div>

    <!-- Notification -->

    <div x-data="{
        visible: true,
        timeout: 5000,
        percent: 0,
        interval: null,
        close() {
            this.visible = false
            clearInterval(this.interval)
        },
        init () {
            setTimeout(() => {
                this.visible = false
            }, this.timeout)
            const startDate = Date.now()
            const futureDate = Date.now() + this.timeout
            const interval = setInterval(() => {
                const date = Date.now()
                
                this.percent = (date - startDate) * 100 / (futureDate - startDate)
                if(this.percent >= 100) {
                    clearInterval(this.interval)
                }
            }, 30);
        },
        get_percent() {

        }
    }"
        x-show="visible"
        class="py-2 px-4 pb-4 bg-emerald-600 text-white relative"
    >
        <div class="font-semibold mb-2"> Lorem </div>
        <div class="text-sm"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Maiores odio ipsam, omnis ad consequuntur dolore rerum iure. 
            Quisquam totam minima iusto non et ratione sed excepturi. Officia blanditiis eos accusantium? 
        </div>
        <button 
            class="absolute flex items-center justify-center right-2 top-2 w-[30px] h-[30px] rounded-full hover:bg-black/10 transition-colors"
            @click="close"    
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
        <!-- Progress -->
        <div>
            <div 
                class="absolute left-0 bottom-0 right-0 rounded h-[10px] bg-black/10"
                :style="{'width': `${percent}%`}"    
            ></div>
        </div>
    </div>

    <!-- Popover -->

    <div x-data="{
        show: false,
        title: 'Test popover',
        message: 'Test popover message'
    }"
        class="relative flex justify-center items-center"
    >
        <button 
            @click="show = true"
            class="py-2 px-6 bg-purple-600 hover:bg-purple-400 text-white rounded-md shadow
            inline-flex items-center"
        >Popover</button>
        <div x-show="show" x-transition class="absolute bottom-[100%] shadow-lg bg-white w-[200px] rounded py-1 px-2">
            <!-- Header -->
            <div class="flex justify-between items-center">
                <span x-text="title"></span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>

            </div>
            <!-- Body -->
            <div x-html="message" class="p-3 text-small"></div> 
        </div>
    </div>
    <!-- 3:27:45 -->

</body>
</html>